#header-logo-img {
  width: 60px;
  border-radius: 120px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#header-button-registe{
    padding-right: 0px;
    margin-right: 5px;
}

.header-main-wrap {
  background-color: var(--primary-color);
  padding: 10px;
  font-family: var(--primary-font);
}

.header-content-wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.header-title-logo-wrap {
  height: 60px;
  display: flex;
  flex-flow: row;
  color: var(--text-color-light);
  align-items: center;
}

.header-title,
.header-subtitle {
  margin: 0px;
  margin-left: 15px;
}

.header-title {
  font-size: var(--header-2-font-size);
  font-weight: 800;
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header-subtitle {
  font-size: var(--header-3-font-size);
  font-weight: 600;
  cursor: default;
}

.header-registration-wrap {
  display: flex;
  flex-flow: row;
  align-content: center;
  color: var(--text-color-light);
  font-size: var(--header-3-font-size);
  cursor: default;
}

.header-button-design {
  height: 60%;
  align-self: center;
  margin: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color-light);
  font-size: var(--header-3-font-size);
  font-family: var(--primary-font);
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-button-design:hover {
  color: var(--text-color-hover-1);
}

#header-logo-img:hover {
  background-color: var(--text-color-hover-1);
}

.header-title:hover {
  color: var(--text-color-hover-1);
}

@media (max-width: 576px) {
    #header-logo-img{
        display: none;
    }
    .header-subtitle{
        display: none;
    }
    .header-title{
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
